<template>
<div class="content mt-3">
    <div class="animated fadeIn">
        <button type="button" class="btn btn-primary btn-sm" @click="add">Add</button>
        <button type="button" class="btn btn-primary btn-sm disable" :disabled="isSelected" @click="view">View</button>
        <button type="button" class="btn btn-primary btn-sm disable" :disabled="isSelected" @click="deleteSelectedAd">Delete</button>
        <div class="row">
            <div class="col-md-12">
                <data-grid :title="'List Ads'" :elements="gridElement" :grid-data="ad" :is-multiple=false v-on:selectedRow="selectRow"></data-grid>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import DataGrid from '../components/DataGrid.vue'

export default {
    components: {
        DataGrid
    },
    data() {
        return {
            payload: {
                url: 'ads',
            },
            ad: [],
            gridElement: [
                {
                    isInput: false,
                    type: 'text',
                    header: 'Code',
                    column: 'code'
                },
                {
                    isInput: false,
                    type: 'text',
                    header: 'Name',
                    column: 'name'
                },
                {
                    isInput: false,
                    type: 'number',
                    header: 'Price',
                    column: 'price'
                }
            ],
            selectedId: []
        }
    },
    created() {
        this.init()
    },
    computed: {
        ...mapState('ad', ['ads']),
        isSelected() {
            return this.selectedId.length > 0 ? false : true
        }
    },
    methods: {
        ...mapActions(['setActivity']),
        ...mapActions('ad', ['fetchAds', 'deleteAd']),
        init() {
            this.fetchAds(this.payload)
            .then(response => {
                if(response) {
                    this.ad = this.ads
                }
            })
        },
        add() {
            this.setActivity('add')
            this.$router.push({ name: 'adDetail' })
        },
        view() {
            this.setActivity('edit')
            this.$router.push({
                name: 'adDetail',
                query: {
                    adId: this.selectedId[0]
                }
            })
        },
        deleteSelectedAd() {
            const payload = {
                url: 'ads/delete',
                data: {
                    id: this.selectedId[0]
                }
            }
            this.deleteAd(payload)
            .then(() => {
                this.init()
            })
        },
        // get selected row from grid
        selectRow(row) {
            this.selectedId = row
        }
    }
}
</script>