<template>
<div class="row">
    <div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Ad</strong>
        </div>
        <div class="card-body">
            <div id="pay-invoice">
                <div class="card-body">
                        <div class="form-group">
                            <label for="code-txt" class="control-label mb-1">Code</label>
                            <input id="code-txt" placeholder="Code" name="code-txt" type="text" class="form-control" aria-required="true" aria-invalid="false" v-model="ad.code">
                            <label for="name-txt" class="control-label mb-1">Name</label>
                            <input id="name-txt" placeholder="Name" name="name-txt" type="text" class="form-control" aria-required="true" aria-invalid="false" v-model="ad.name">
                            <label for="price-txt" class="control-label mb-1">Price</label>
                            <input id="price-txt" name="price-txt" type="text" class="form-control" aria-required="true" aria-invalid="false" v-model="ad.price">
                        </div>
                        <div>
                            <button type="button" class="btn btn-success btn-sm" @click="save">Save</button>
                            <button type="button" class="btn btn-danger btn-sm" @click="cancel">Cancel</button>
                        </div>
                </div>
            </div>

        </div>
    </div>

    </div>
</div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
    data() {
        return {
            ad: {
                code: '',
                name: '',
                price: 0,
            }
        }
    },
    computed: {
        ...mapState(['activity']),
        ...mapState('ad', ['ads'])
    },
    methods: {
        ...mapActions('ad', ['saveAds', 'fetchAds', 'fetchAdById']),
        save() {
            const payload = this.activity === 'edit' ? {
                url: 'ads/update',
                data: {
                    id: this.$route.query.adId,
                    code: this.ad.code,
                    name: this.ad.name,
                    price: this.ad.price
                }
            } : {
                url: 'ads/create',
                data: this.ad
            }
            this.saveAds(payload)
            .then(response => {
                if(response) {
                    this.$router.push({ name: 'ad' })
                }
            })
        },
        cancel() {
            this.$router.push({ name: 'ad' })
        }
    },
    created() {
        if(this.activity === 'edit') {
            this.fetchAdById({
                url: 'ads/detail',
                query: {
                    params: {
                        adId: this.$route.query.adId
                    }
                }
            })
            .then(response => {
                if(response) {
                    this.ad.code = this.ads.code
                    this.ad.name = this.ads.name
                    this.ad.price = this.ads.price
                }
            })
        }
    }
}
</script>