<template>
<div class="content mt-3">
    <div class="animated fadeIn">
        <button type="button" class="btn btn-primary btn-sm" @click="add">Add</button>
        <button type="button" class="btn btn-primary btn-sm disable" :disabled="isSelected" @click="view">View</button>
        <div class="row">
            <div class="col-md-12">
                <data-grid :title="'List Checkouts'" :elements="gridElement" :grid-data="checkout" :is-multiple=false v-on:selectedRow="selectRow"></data-grid>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import DataGrid from '../components/DataGrid.vue'

export default {
    components: {
        DataGrid
    },
    data() {
        return {
            payload: {
                url: 'checkouts',
            },
            checkout: [],
            gridElement: [
                {
                    isInput: false,
                    type: 'text',
                    header: 'Document No',
                    column: 'documentNo'
                },
                {
                    isInput: false,
                    type: 'text',
                    header: 'Date',
                    column: 'date'
                },
                {
                    isInput: false,
                    type: 'text',
                    header: 'Customer',
                    column: 'customerName'
                },
                {
                    isInput: false,
                    type: 'text',
                    header: 'Amount',
                    column: 'finalAmount'
                }
            ],
            selectedId: []
        }
    },
    created() {
        this.init()
    },
    computed: {
        ...mapState('checkout', ['checkouts']),
        isSelected() {
            return this.selectedId.length > 0 ? false : true
        }
    },
    methods: {
        ...mapActions(['setActivity']),
        ...mapActions('checkout', ['fetchCheckouts', 'deleteCheckout']),
        init() {
            this.fetchCheckouts(this.payload)
            .then(response => {
                if(response) {
                    this.checkout = this.checkouts
                }
            })
        },
        add() {
            this.setActivity('add')
            this.$router.push({ name: 'checkoutPackage' })
        },
        view() {
            this.setActivity('edit')
            this.$router.push({
                name: 'checkoutDetail',
                query: {
                    checkoutId: this.selectedId[0]
                }
            })
        },
        // get selected row from grid
        selectRow(row) {
            this.selectedId = row
        }
    }
}
</script>