<template>
<div class="row">
    <div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Checkout</strong>
        </div>
        <div class="card-body">
            <div id="pay-invoice">
                <div class="card-body">
                    <div class="form-group">
                        <label for="document-txt" class="control-label mb-1">Document No</label>
                        <input id="document-txt" placeholder="Document No" name="document-txt" type="text" class="form-control" aria-required="true" aria-invalid="false" v-model="checkout.documentNo" disabled>
                    </div>
                    <div class="form-group">
                        <label for="date-txt" class="control-label mb-1">Date</label>
                        <input id="date-txt" placeholder="Date" name="date-txt" type="date" class="form-control" aria-required="true" aria-invalid="false" v-model="checkout.date" disabled>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Customer</span>
                            </div>
                            <input type="text" placeholder="Customer Code" class="form-control col-md-2" v-model="checkout.customerCode" disabled>
                            <input type="text" placeholder="Customer Name" class="form-control col-md-6" v-model="checkout.customerName" disabled>
                        </div>
                    </div>
                    <data-grid :elements="gridElement" :grid-data="checkout.detail"></data-grid>
                    <div class="form-group col-md-4 offset-md-8">
                        <label for="amount-txt" class="control-label mb-1">Amount</label>
                        <input id="amount-txt" placeholder="Amount" name="amount-txt" type="number" class="form-control" aria-required="true" aria-invalid="false" v-model="checkout.amount" disabled>
                    </div>
                    <div class="form-group col-md-4 offset-md-8">
                        <label for="finalAmount-txt" class="control-label mb-1">Final Amount</label>
                        <input id="finalAmount-txt" placeholder="Final Amount" name="final-amount-txt" type="number" class="form-control" aria-required="true" aria-invalid="false" v-model="checkout.finalAmount" disabled>
                    </div>
                    <hr>
                    <div>
                        <button v-if="this.activity === 'add'" type="button" class="btn btn-success btn-sm" @click="save">Save</button>
                        <button type="button" class="btn btn-danger btn-sm" @click="cancel">Cancel</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    </div>
</div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import DataGrid from '../components/DataGrid.vue'

export default {
    components: {
        DataGrid
    },
    data() {
        return {
            checkout: {
                documentNo: '',
                date: '',
                customerId: '',
                customerName: '',
                amount: 0,
                finalAmount: 0,
                detail: []
            },
            gridElement: [
                {
                    isInput: false,
                    type: 'text',
                    header: 'Ad Name',
                    column: 'adName',
                },
                {
                    isInput: false,
                    type: 'number',
                    header: 'Qty',
                    column: 'qty',
                },
                {
                    isInput: false,
                    type: 'number',
                    header: 'Price',
                    column: 'price',
                },
                {
                    isInput: false,
                    type: 'text',
                    header: 'Promo Code',
                    column: 'promoCode',
                },
                {
                    isInput: false,
                    type: 'number',
                    header: 'Amount',
                    column: 'finalPrice',
                },
            ]
        }
    },
    computed: {
        ...mapState(['activity']),
        ...mapState('checkout', ['checkouts'])
    },
    methods: {
        ...mapActions('checkout', ['createCheckout', 'saveCheckouts', 'fetchCheckouts', 'fetchCheckoutById']),
        save() {
            const payload = {
                url: 'checkouts/create',
                data: this.checkout
            }
            this.saveCheckouts(payload)
            .then(response => {
                if(response) {
                    this.$router.push({ name: 'checkout' })
                }
            })
        },
        cancel() {
            this.$router.push({ name: 'checkout' })
        }
    },
    created() {
        if(this.activity === 'edit') {
            this.fetchCheckoutById({
                url: 'checkouts/detail',
                query: {
                    params: {
                        checkoutId: this.$route.query.checkoutId
                    }
                }
            })
            .then(response => {
                if(response) {
                    this.checkout = this.checkouts
                }
            })
        } else {
            const payload = {
                url: 'checkouts/generate',
                data: this.$route.query
            }
            this.createCheckout(payload)
            .then(response => {
                if(response) {
                    this.checkout = this.checkouts
                }
            })
        }
    }
}
</script>