<template>
<div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Type your customer's code</span>
            </div>
            <input type="text" placeholder="Customer Code" class="form-control col-md-2" @change="searchCustomer" v-model.lazy="checkout.customerCode">
            <input type="text" placeholder="Customer Name" class="form-control col-md-6" v-model="checkout.customerName">
        </div>
    </div>
    <div class="card-deck">
        <div class="card" v-for="(ourAd, index) in ad" :key="index">
            <div class="card-body">
                <h5 class="card-title">{{ ourAd.code }}</h5>
                <p class="card-text">{{ ourAd.name }} - {{ ourAd.price }}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    <label for="qty-txt" class="control-label mb-1">Qty</label>
                    <input id="qty-txt" name="qty-txt" type="number" class="form-control" aria-required="true" aria-invalid="false" @change="updateQty($event, ourAd)">
                    <!-- <input type="number" @change="updateQty(ourAd)"> -->
                </small>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <button type="button" class="btn btn-success btn-sm" @click="confirm">Confirm</button>
        <button type="button" class="btn btn-danger btn-sm" @click="cancel">Cancel</button>
    </div>
</div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
    data() {
        return {
            checkout: {
                customerId: '',
                customerCode: '',
                customerName: '',
                detail: []
            },
            ad: []
        }
    },
    computed: {
        ...mapState('ad', ['ads']),
        ...mapState('customer', ['searchedCustomers'])
    },
    methods: {
        ...mapActions('ad', ['fetchAds']),
        ...mapActions('customer', ['autocompleteCustomers']),
        init() {
            const payload = {
                url: 'ads'
            }
            this.fetchAds(payload)
            .then(response => {
                if(response) {
                    this.ad = this.ads
                }
            })
        },
        confirm() {
            this.$router.push({ name: 'checkoutDetail', query: this.checkout })
        },
        cancel() {
            this.$router.push({ name: 'checkout' })
        },
        updateQty(evt, adObject) {
            const exist = this.checkout.detail.findIndex(x => x.adId === adObject.id)
            if(exist !== -1) {
                this.checkout.detail.splice(exist, 1)
            }
            this.checkout.detail.splice(this.checkout.detail.length + 1, 0, {
                adId: adObject.id,
                adName: adObject.name,
                qty: evt.target.value,
                price: adObject.price
            })
        },
        searchCustomer() {
            const payload = {
                url: 'customers/search',
                query: {
                    params: {
                        key: this.checkout.customerCode
                    }
                }
            }
            this.autocompleteCustomers(payload)
            .then(response => {
                if(this.searchedCustomers.length > 0) {
                    this.checkout.customerId = this.searchedCustomers[0].id
                    this.checkout.customerCode = this.searchedCustomers[0].code
                    this.checkout.customerName = this.searchedCustomers[0].name
                }
            })
        },
    },
    created() {
        this.init()
    }
}
</script>