<template>
<div class="row">
    <div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Customer</strong>
        </div>
        <div class="card-body">
            <div id="pay-invoice">
                <div class="card-body">
                    <div class="form-group">
                        <label for="code-txt" class="control-label mb-1">Code</label>
                        <input id="code-txt" placeholder="Code" name="code-txt" type="text" class="form-control" aria-required="true" aria-invalid="false" v-model="customer.code">
                    </div>
                    <div class="form-group">    
                        <label for="name-txt" class="control-label mb-1">Name</label>
                        <input id="name-txt" placeholder="Name" name="name-txt" type="text" class="form-control" aria-required="true" aria-invalid="false" v-model="customer.name">
                    </div>
                    <input-grid :elements="gridElement" :grid-data="customer.detail" v-on:changing="searchPromo"></input-grid>
                    <hr>
                    <div>
                        <button type="button" class="btn btn-success btn-sm" @click="save">Save</button>
                        <button type="button" class="btn btn-danger btn-sm" @click="cancel">Cancel</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    </div>
</div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import InputGrid from '../components/InputGrid.vue'

export default {
    components: {
        InputGrid
    },
    data() {
        return {
            customer: {
                code: '',
                name: '',
                detail: []
            },
            gridElement: [
                {
                    isInput: true,
                    type: 'text',
                    header: 'Promo Code',
                    column: 'promoCode',
                    autocomplete: true
                },
                {
                    isInput: true,
                    type: 'text',
                    header: 'Ad name',
                    column: 'adName',
                    autocomplete: false
                },
                {
                    isInput: true,
                    type: 'text',
                    header: 'Type',
                    column: 'promoType',
                    autocomplete: false
                },
            ]
        }
    },
    computed: {
        ...mapState(['activity']),
        ...mapState('customer', ['customers']),
        ...mapState('promo', ['searchedPromos'])
    },
    methods: {
        ...mapActions('customer', ['saveCustomers', 'fetchCustomers', 'fetchCustomerById']),
        ...mapActions('promo', ['autocompletePromos']),
        save() {
            const payload = this.activity === 'edit' ? {
                url: 'customers/update',
                data: this.customer
            } : {
                url: 'customers/create',
                data: this.customer
            }
            this.saveCustomers(payload)
            .then(response => {
                if(response) {
                    this.$router.push({ name: 'customer' })
                }
            })
        },
        cancel() {
            this.$router.push({ name: 'customer' })
        },
        searchPromo(searchObject) {
            const payload = {
                url: 'promos/search',
                query: {
                    params: {
                        key: searchObject.searchKey
                    }
                }
            }
            this.autocompletePromos(payload)
            .then(response => {
                this.customer.detail[searchObject.index].promoId = this.searchedPromos[0].id
                this.customer.detail[searchObject.index].promoCode = this.searchedPromos[0].promoCode
                this.customer.detail[searchObject.index].adName = this.searchedPromos[0].adName
                this.customer.detail[searchObject.index].promoType = this.searchedPromos[0].promoType
            })
        }
    },
    created() {
        if(this.activity === 'edit') {
            this.fetchCustomerById({
                url: 'customers/detail',
                query: {
                    params: {
                        customerId: this.$route.query.customerId
                    }
                }
            })
            .then(response => {
                if(response) {
                    this.customer = this.customers
                }
            })
        }
    }
}
</script>