<template>
<div class="content mt-3">
    <div class="animated fadeIn">
        <button type="button" class="btn btn-primary btn-sm" @click="add">Add</button>
        <button type="button" class="btn btn-primary btn-sm disable" :disabled="isSelected" @click="view">View</button>
        <button type="button" class="btn btn-primary btn-sm disable" :disabled="isSelected" @click="deleteSelectedCustomer">Delete</button>
        <div class="row">
            <div class="col-md-12">
                <data-grid :title="'List Customers'" :elements="gridElement" :grid-data="customer" :is-multiple=false v-on:selectedRow="selectRow"></data-grid>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import DataGrid from '../components/DataGrid.vue'

export default {
    components: {
        DataGrid
    },
    data() {
        return {
            payload: {
                url: 'customers',
            },
            customer: [],
            gridElement: [
                {
                    isInput: false,
                    type: 'text',
                    header: 'Code',
                    column: 'code'
                },
                {
                    isInput: false,
                    type: 'text',
                    header: 'Name',
                    column: 'name'
                }
            ],
            selectedId: []
        }
    },
    created() {
        this.init()
    },
    computed: {
        ...mapState('customer', ['customers']),
        isSelected() {
            return this.selectedId.length > 0 ? false : true
        }
    },
    methods: {
        ...mapActions(['setActivity']),
        ...mapActions('customer', ['fetchCustomers', 'deleteCustomer']),
        init() {
            this.fetchCustomers(this.payload)
            .then(response => {
                if(response) {
                    this.customer = this.customers
                }
            })
        },
        add() {
            this.setActivity('add')
            this.$router.push({ name: 'customerDetail' })
        },
        view() {
            this.setActivity('edit')
            this.$router.push({
                name: 'customerDetail',
                query: {
                    customerId: this.selectedId[0]
                }
            })
        },
        deleteSelectedCustomer() {
            const payload = {
                url: 'customers/delete',
                data: {
                    id: this.selectedId[0]
                }
            }
            this.deleteCustomer(payload)
            .then(() => {
                this.init()
            })
        },
        // get selected row from grid
        selectRow(row) {
            this.selectedId = row
        }
    }
}
</script>