<template>
<div>
	<h1>Intro of Menu</h1>
	<hr>
	<div class="card-group">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Ad</h5>
				<p class="card-text">Put all your ad data here</p>
				<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				<button type="button" class="btn btn-dark" @click="navigate('ad')">Check It</button>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Promotion</h5>
				<p class="card-text">This is for engaging your customer with special promotions / discounts</p>
				<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				<button type="button" class="btn btn-dark" @click="navigate('promo')">Check It</button>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Customer</h5>
				<p class="card-text">Put all your customer data here</p>
				<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				<button type="button" class="btn btn-dark" @click="navigate('customer')">Check It</button>
			</div>
		</div>
	</div>
	<div class="card-group">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Checkout</h5>
				<p class="card-text">Ready to checkout with our products?</p>
				<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				<button type="button" class="btn btn-dark" @click="navigate('checkout')">Check It</button>
			</div>
		</div>
	</div>
</div>
</template>

<script>
export default {
    methods: {
		navigate(pathName) {
			this.$router.push({ name: pathName })
		}
    }
}

</script>