<template>
<div class="row">
    <div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Promo</strong>
        </div>
        <div class="card-body">
            <div id="pay-invoice">
                <div class="card-body">
                        <div class="form-group">
                            <label for="code-txt" class="control-label mb-1">Code</label>
                            <input id="code-txt" name="code-txt" type="text" class="form-control" aria-required="true" aria-invalid="false" v-model="promo.code">
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="promoType">Promo Type</label>
                                <select class="form-control" id="promoType" v-model="promo.type">
                                <option>Free</option>
                                <option>Discount</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="">Type your ad's code</span>
                                    </div>
                                    <input type="text" placeholder="Ad Code" class="form-control col-md-2" @change="searchAd" v-model.lazy="promo.adCode">
                                    <input type="text" placeholder="Ad Name" class="form-control col-md-6" v-model="promo.adName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="qty-txt" class="control-label mb-1">Qty</label>
                                <input id="qty-txt" name="qty-txt" type="text" class="form-control" aria-required="true" aria-invalid="false" v-model="promo.qty">
                            </div>
                            <div class="form-group">
                                <label for="free-qty-txt" class="control-label mb-1">Free Qty</label>
                                <input id="free-qty-txt" name="free-qty-txt" type="text" class="form-control" aria-required="true" aria-invalid="false" v-model="promo.freeQty">
                            </div>
                            <div class="form-group">
                                <label for="discount-txt" class="control-label mb-1">Discount</label>
                                <input id="discount-txt" name="discount-txt" type="text" class="form-control" aria-required="true" aria-invalid="false" v-model="promo.discount">
                            </div>
                            <div class="form-group">
                                <label for="price-txt" class="control-label mb-1">Price</label>
                                <input id="price-txt" name="price-txt" type="text" class="form-control" aria-required="true" aria-invalid="false" v-model="promo.price">
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-success btn-sm" @click="save">Save</button>
                            <button type="button" class="btn btn-danger btn-sm" @click="cancel">Cancel</button>
                        </div>
                </div>
            </div>

        </div>
    </div>

    </div>
</div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
    data() {
        return {
            promo: {
                code: '',
                type: '',
                adId: '',
                adCode: '',
                adName: '',
                qty: 0,
                freeQty: 0,
                discount: 0,
                price: 0,
            }
        }
    },
    computed: {
        ...mapState(['activity']),
        ...mapState('promo', ['promos']),
        ...mapState('ad', ['searchedAds'])
    },
    methods: {
        ...mapActions('promo', ['savePromos', 'fetchPromos', 'fetchPromoById']),
        ...mapActions('ad', ['autocompleteAds']),
        save() {
            const payload = this.activity === 'edit' ? {
                url: 'promos/update',
                data: {
                    id: this.$route.query.promoId,
                    code: this.promo.code,
                    type: this.promo.type,
                    adId: this.promo.adId,
                    qty: this.promo.qty,
                    freeQty: this.promo.freeQty,
                    discount: this.promo.discount,
                    price: this.promo.price
                }
            } : {
                url: 'promos/create',
                data: this.promo
            }
            this.savePromos(payload)
            .then(response => {
                if(response) {
                    this.$router.push({ name: 'promo' })
                }
            })
        },
        cancel() {
            this.$router.push({ name: 'promo' })
        },
        searchAd() {
            const payload = {
                url: 'ads/search',
                query: {
                    params: {
                        key: this.promo.adCode
                    }
                }
            }
            this.autocompleteAds(payload)
            .then(response => {
                if(this.searchedAds.length > 0) {
                    this.promo.adId = this.searchedAds[0].id
                    this.promo.adCode = this.searchedAds[0].code
                    this.promo.adName = this.searchedAds[0].name
                }
            })
        }
    },
    created() {
        if(this.activity === 'edit') {
            this.fetchPromoById({
                url: 'promos/detail',
                query: {
                    params: {
                        promoId: this.$route.query.promoId
                    }
                }
            })
            .then(response => {
                if(response) {
                    this.promo.code = this.promos.code
                    this.promo.type = this.promos.type
                    this.promo.adId = this.promos.adId
                    this.promo.adCode = this.promos.Ad.code
                    this.promo.adName = this.promos.Ad.name
                    this.promo.qty = this.promos.qty
                    this.promo.freeQty = this.promos.freeQty
                    this.promo.discount = this.promos.discount
                    this.promo.price = this.promos.price
                }
            })
        }
    }
}
</script>