<template>
<div class="content mt-3">
    <div class="animated fadeIn">
        <button type="button" class="btn btn-primary btn-sm" @click="add">Add</button>
        <button type="button" class="btn btn-primary btn-sm disable" :disabled="isSelected" @click="view">View</button>
        <button type="button" class="btn btn-primary btn-sm disable" :disabled="isSelected" @click="deleteSelectedPromo">Delete</button>
        <div class="row">
            <div class="col-md-12">
                <data-grid :title="'List Promos'" :elements="gridElement" :grid-data="promo" :is-multiple=false v-on:selectedRow="selectRow"></data-grid>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import DataGrid from '../components/DataGrid.vue'

export default {
    components: {
        DataGrid
    },
    data() {
        return {
            payload: {
                url: 'promos',
            },
            promo: [],
            gridElement: [
                {
                    isInput: false,
                    type: 'text',
                    header: 'Code',
                    column: 'code'
                },
                {
                    isInput: false,
                    type: 'text',
                    header: 'Type',
                    column: 'type'
                },
                {
                    isInput: false,
                    type: 'text',
                    header: 'Ad Name',
                    column: 'adName'
                },
                {
                    isInput: false,
                    type: 'number',
                    header: 'Qty',
                    column: 'qty'
                },
                {
                    isInput: false,
                    type: 'number',
                    header: 'Free Qty',
                    column: 'freeQty'
                },
                {
                    isInput: false,
                    type: 'number',
                    header: 'Price',
                    column: 'price'
                }
            ],
            selectedId: []
        }
    },
    created() {
        this.init()
    },
    computed: {
        ...mapState('promo', ['promos']),
        isSelected() {
            return this.selectedId.length > 0 ? false : true
        }
    },
    methods: {
        ...mapActions(['setActivity']),
        ...mapActions('promo', ['fetchPromos', 'deletePromo']),
        init() {
            this.fetchPromos(this.payload)
            .then(response => {
                if(response) {
                    this.promo = this.promos
                }
            })
        },
        add() {
            this.setActivity('add')
            this.$router.push({ name: 'promoDetail' })
        },
        view() {
            this.setActivity('edit')
            this.$router.push({
                name: 'promoDetail',
                query: {
                    promoId: this.selectedId[0]
                }
            })
        },
        deleteSelectedPromo() {
            const payload = {
                url: 'promos/delete',
                data: {
                    id: this.selectedId[0]
                }
            }
            this.deletePromo(payload)
            .then(() => {
                this.init()
            })
        },
        // get selected row from grid
        selectRow(row) {
            this.selectedId = row
        }
    }
}
</script>