<template>
    <div class="card">
        <div class="card-header">
            <strong class="card-title">{{ title }}</strong>
        </div>
        <div class="card-body">
            <table id="bootstrap-data-table" class="table table-hover table-bordered">
                <thead>
                    <tr v-if="elements">
                        <th v-for="(head, index) in elements" :key="index">{{ head.header }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(data, rowIndex) in gridData" :key="rowIndex" :style="findSelectedRow(data.id)" @click.prevent="selectId(data.id, rowIndex)">
                        <td v-for="(element, colIndex) in elements" :key="colIndex" >
                            <input v-if="element.isInput" :type="element.type" v-model="data[element.column]">
                            <div v-if="!element.isInput">{{data[element.column]}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
    props: [ 'title', 'elements', 'gridData', 'isMultiple' ],
    data() {
        return {
            selectedId: []
        }
    },
    methods: {
        selectId(id, rowIndex) {
            const indexOfSelectedId = this.selectedId.indexOf(id)
            // If selectedId is already selected, DESELECT IT
            if(indexOfSelectedId !== -1) {
                this.selectedId.splice(indexOfSelectedId, 1)
            } else { // If selectedID is new, push it to current array and check if it is multiple select
                if(!this.isMultiple) {
                    this.selectedId.splice(0, this.selectedId.length)
                }
                this.selectedId.push(id)
            }
            this.$emit('selectedRow', this.selectedId)
        },
        // Find current selected value and change the background color
        findSelectedRow(id) {
            if(this.selectedId.findIndex(i => i === id) > -1) {
                return {
                    backgroundColor: 'green',
                    color: 'white'
                }
            }
        }
    }
}
</script>