<template>
    <div>
        <table class="table table-hover table-sm">
            <thead>
                <tr v-if="elements">
                    <th scope="col" v-for="(head, index) in elements" :key="index">{{ head.header }}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(data, rowIndex) in gridData" :key="rowIndex">
                    <td v-for="(element, colIndex) in elements" :key="colIndex" >
                        <input v-if="element.isInput" :type="element.type" v-model="data[element.column]" @change="triggerChange($event, element, rowIndex)">
                        <div v-if="!element.isInput">{{data[element.column]}}</div>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm" @click="deleteRow(rowIndex)">Delete Row</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-info btn-sm" @click="addRow">Add Row</button>
    </div>
</template>

<script>

export default {
    props: [ 'elements', 'gridData' ],
    data() {
        return {}
    },
    methods: {
        addRow() {
            this.gridData.splice(this.gridData.length + 1, 0, {})
        },
        deleteRow(index) {
            this.gridData.splice(index, 1);
        },
        confirmSearch() {
            console.log('yes')
            //this.$emit('search')
        },
        triggerChange(evt, element, rowIndex) {
            if(element.autocomplete) {
                this.$emit('changing', {
                    index: rowIndex,
                    column: element.column,
                    searchKey: evt.target.value
                })
            }
        }
    }
}
</script>