<template>

<div v-if="this.notification.status !== ''" :class="this.notification.status" class="sufee-alert alert with-close alert-dismissible fade show">
        {{ this.notification.message }}
        <button type="button" @click="this.clearNotification" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'

export default {
    computed: {
        ...mapState(['notification'])
    },
    methods: {
        ...mapActions(['clearNotification']),
    }
}

</script>