<template>
  <div class="app-sidebar">
    <div class="app-menu list-group">
      <router-link :to="{ name: 'main' }" class="list-group-item list-group-item-action app-menu">Home</router-link>
      <router-link :to="{ name: 'ad' }" class="list-group-item list-group-item-action app-menu">Ad</router-link>
      <router-link :to="{ name: 'promo' }" class="list-group-item list-group-item-action app-menu">Promotion</router-link>
      <router-link :to="{ name: 'customer' }" class="list-group-item list-group-item-action app-menu">Customer</router-link>
      <router-link :to="{ name: 'checkout' }" class="list-group-item list-group-item-action app-menu">Checkout</router-link>
    </div>
  </div>
</template>
