<template>
  <div id="app">
    <router-view name="sidebar" :key="$route.fullPath"></router-view>
    <div class="app-content">
      <notification></notification>
      <router-view name="content" :key="$route.fullPath"></router-view>
    </div>
  </div>
</template>

<script>
import Notification from './components/Notification.vue'
export default {
  name: 'app',
  components: {
    Notification
  }
}
</script>