@import "~bootstrap/scss/bootstrap";

html, body {
    height:100%;
}

body {
    margin: 0;
    overscroll-behavior-y: none;
}

#app {
    height: 100%;
}

.app-sidebar {
    background-color: $dark;
    height: 100vh;
    width: 300px;
    float: left;
}

.app-content {
    overflow: hidden;
    padding: 15px;
}

.app-menu {
    background: transparent;
    color: $white;
}